body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://media.giphy.com/media/jIWOZWsrZwJNc7eVjE/giphy.gif?cid=ecf05e47hc7y3owyh3ilacn4jpzx76ycrogsgdzuwr7lziy4&ep=v1_gifs_search&rid=giphy.gif&ct=g ');
    background-size: cover; 
    background-position: center; 
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 2.5rem;
    color: #ffc343;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}

.image-container {
    display: flex;
    gap: 20px;
}

.image-container a {
    display: block;
}

.image-container img {
    width: 300px; 
    height: auto; 
    object-fit: contain; 
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}