#home h1 {
    color: #ffcc00; 
    text-shadow: 1px 1px 2px rgb(249, 249, 249); 
}

#home p {
    color: #ffffff; 
    text-shadow: 1px 1px 2px black; 
}

body {
    padding-top: 56px;
    font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
    transition: background-color 0.3s;
}

.navbar-nav .nav-link {
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #f8b400;
}

/* Section Styles */
.section {
    padding: 80px 15px;
}
/* Home Section */
#home {
    padding: 100px 15px;
}

/* Profile Image */
img.rounded-circle {
    border: 3px solid #f8b400;
}

/* Contact Section */
#contact a {
    text-decoration: none;
    color: #f3c848;
    font-weight: bold;
}

#contact a:hover {
    color: #f8b400;
}

#about {
    background-color: #C3EEFA; 
}

#skills {
    background-color: #C8E6B2; 
}

#contact {
    background-color: #FEE7AA; 
}
ul {
    list-style-type: none;
    padding: 0;
}
li, p, h2, h3 {
    text-align: center;
    margin: 10px 0;
}
img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
p {
    font-size: 18px;
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 20px;
}

.skill {
    text-align: center;
}

.skill img {
    width: 80px;
    height: 80px;
}

.skill p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}